{"swagger":"2.0","info":{"version":"1.0","title":"IESO Project RESTful APIs","contact":{"name":"PeakPower","email":"harvey@peakpowerenergy.com"}},"host":"iesoservice.peakenergypower.com:9090","basePath":"/","tags":[{"name":"AutomationControls","description":"Automation Status Controller"},{"name":"IESO Dispatch Data","description":"IESO Dispatch Controller"},{"name":"Princeton Charger","description":"Princeton Charger Controller"},{"name":"RTAC Status","description":"RTAC Controller"},{"name":"Real Time Status","description":"Real Time Data Controller"},{"name":"SaturnPower","description":"Saturn Power Controller"},{"name":"SmartCharge","description":"Smart Charge Controller"},{"name":"Sungrow","description":"Sungrow Controller"},{"name":"Tesla","description":"Tesla Controller"},{"name":"__ALL ESS APIs","description":"All Status Controller"}],"paths":{"/api/CKTLoad/monthly_NCP_setting/project/{projectId}":{"post":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Save Monthly NCP Setting Data","operationId":"saveMonthlyNCPSettingDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/NCPMonthlySetting"}}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/monthly_NCP_setting/project/{projectId}/latest":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Latest Monthly NCP Setting Data (no compare with load)","operationId":"getMonthlyNCPSettingLatestUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/monthly_NCP_setting/project/{projectId}/latest/compare":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Monthly NCP Setting Data for Current Month(compare with load)","operationId":"getMonthlyNCPSettingLatestCompareUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/monthly_NCP_setting/project/{projectId}/month/{month}":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Monthly NCP Setting Data by Month(yyyy-MM)","operationId":"getMonthlyNCPSettingByMonthUsingGET","produces":["*/*"],"parameters":[{"name":"month","in":"path","description":"month","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/monthly_NCP_setting/v2/project/{projectId}/device/{deviceId}":{"post":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Save Monthly NCP Setting Data","operationId":"saveMonthlyNCPSettingDataV2UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/NCPMonthlySetting"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/monthly_NCP_setting/v2/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Latest Monthly NCP Setting Data (no compare with load)","operationId":"getMonthlyNCPSettingLatestV2UsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/monthly_NCP_setting/v2/project/{projectId}/device/{deviceId}/latest/compare":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Monthly NCP Setting Data for Current Month(compare with load)","operationId":"getMonthlyNCPSettingLatestCompareV2UsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/monthly_NCP_setting/v2/project/{projectId}/device/{deviceId}/month/{month}":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Monthly NCP Setting Data by Month(yyyy-MM)","operationId":"getMonthlyNCPSettingByMonthV2UsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"month","in":"path","description":"month","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/safety_threshold/project/{projectId}/device/{deviceId}":{"post":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Save Safety Threshold Data","operationId":"saveMonthlyThresholdDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LoadMonthlyThreshold"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/safety_threshold/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Safety Threshold Data Latest","operationId":"getMonthlyThresholdDataLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/CKTLoad/safety_threshold/project/{projectId}/device/{deviceId}/month/{month}":{"get":{"tags":["Safety Threshold","__ALL ESS APIs"],"summary":"Get Safety Threshold Data by Month(yyyy-MM)","operationId":"getMonthlyThresholdDataByMonthUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"month","in":"path","description":"month","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ElectricityCharge/ChargeCalculation":{"post":{"tags":["Bill","__ALL ESS APIs"],"summary":"Calculate electricity charge report","operationId":"ChargeCalculationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChargeReport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ElectricityCharge/projectid/{projectId}/day/{day}":{"get":{"tags":["Bill","__ALL ESS APIs"],"summary":"Calculate electricity charge report","operationId":"ChargeCalculationUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChargeReport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ElectricityChargeWithoutESS/projectid/{projectId}/day/{day}":{"get":{"tags":["Bill","__ALL ESS APIs"],"summary":"Calculate electricity charge report before ESS","operationId":"ChargeCalculationWithOutESSUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChargeReport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/MeterConstraintData/project/{projectId}/device/{deviceId}":{"post":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Save Constraint Meter Data ","operationId":"saveConstraintRawDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ConstraintMeterData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/MeterConstraintData/project/{projectId}/device/{deviceId}/{startTime}/{endTime}":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get Constraint Meter Data by time period","operationId":"getConstraintDataUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endTime","in":"path","description":"endTime","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTime","in":"path","description":"startTime","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/MeterRawData/project/{projectId}/device/{deviceId}":{"post":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Save Meter Raw Data ","operationId":"saveMeterRawDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/MeterRawData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/MeterRawData/project/{projectId}/device/{deviceId}/{startTime}/{endTime}":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get Meter Raw Data by time period","operationId":"getMeterRawDataUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endTime","in":"path","description":"endTime","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTime","in":"path","description":"startTime","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_ION_MeterData/project/{projectId}/device/{deviceId}":{"post":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Save OPG CGC Meter Data ","operationId":"saveOPGIONCGCMeterDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/OPGCGCIONMeterData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_ION_MeterData/project/{projectId}/device/{deviceId}/1minute/latest":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get OPG CGC Meter Data By Day","operationId":"getOPGCGC_ION_MeterDataLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_ION_MeterData/project/{projectId}/device/{deviceId}/{day}":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get OPG CGC Meter Data By Day","operationId":"getOPGCGC_ION_MeterDataUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_ION_MeterData/project/{projectId}/device/{deviceId}/{day}/1hour":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get OPG CGC Meter Data By Day","operationId":"getOPGCGC_ION_MeterDatafilter1hourUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_ION_MeterData/project/{projectId}/device/{deviceId}/{day}/5minute":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get OPG CGC Meter Data By Day","operationId":"getOPGCGC_ION_MeterDatafilter5MinuteUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_MeterData/project/{projectId}/device/{deviceId}":{"post":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Save OPG CGC Meter Data ","operationId":"saveOPGCGCMeterDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/OPGCGCMeterData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_MeterData/project/{projectId}/device/{deviceId}/1minute/latest":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get OPG CGC Meter Data By Day","operationId":"getOPGCGC_MeterDataLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/OPG_CGC_MeterData/project/{projectId}/device/{deviceId}/{day}":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get OPG CGC Meter Data By Day","operationId":"getOPGCGC_MeterDataUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_mode/project/{projectId}/device/{deviceId}":{"post":{"tags":["RTAC Status"],"summary":"Save RTAC Mode Status","operationId":"saveRTACModeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"$ref":"#/definitions/RtacMode"}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_mode/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status Latest","operationId":"getRTACModeUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status/project/{projectId}":{"post":{"tags":["RTAC Status"],"summary":"Save RTAC Status","operationId":"saveRTACStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/RTACMap"}}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status/project/{projectId}/status/day/{day}":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status by day Format:(yyyy-MM-dd)","operationId":"getRTACStatusByDayUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status/project/{projectId}/status/latest":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status Latest","operationId":"getRTACStatusByDayUsingGET_1","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status/project/{projectId}/status/timestamp/{startTimeStamp}/{endTimeStamp}":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status by timestamp ","operationId":"getRTACStatusByTimeStampUsingGET","produces":["*/*"],"parameters":[{"name":"endTimeStamp","in":"path","description":"endTimeStamp","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTimeStamp","in":"path","description":"startTimeStamp","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status_avg_v3/project/{projectId}/status/day/{day}":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status Avg by day Format:(yyyy-MM-dd)","operationId":"getRTACStatusByDayAvgV3UsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status_v3/project/{projectId}":{"post":{"tags":["RTAC Status"],"summary":"Save RTAC Status","operationId":"saveRTACStatusV3UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/RTACMapV3"}}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status_v3/project/{projectId}/status/day/{day}":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status by day Format:(yyyy-MM-dd)","operationId":"getRTACStatusByDayV3UsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status_v3/project/{projectId}/status/latest":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status Latest","operationId":"getRTACStatusByDayV3UsingGET_1","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/RTAC_status_v3/project/{projectId}/status/time/{starttime}/{endtime}":{"get":{"tags":["RTAC Status"],"summary":"Search RTAC Status by time Format:(yyyy-MM-dd HH:mm:ss)","operationId":"getRTACStatusByTimeV3UsingGET","produces":["*/*"],"parameters":[{"name":"endtime","in":"path","description":"endtime","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"starttime","in":"path","description":"starttime","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/SEL_MeterData/project/{projectId}/device/{deviceId}":{"post":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Save SEL Meter Data ","operationId":"saveSELMeterDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SELMeterData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/SEL_MeterData/project/{projectId}/device/{deviceId}/1minute/latest":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get SEL Meter Data By Day","operationId":"getSEL_MeterDataLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/SEL_MeterData/project/{projectId}/device/{deviceId}/{day}":{"get":{"tags":["MeterData","__ALL ESS APIs"],"summary":"Get SEL Meter Data By Day","operationId":"getSEL_MeterDataUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert/project/{projectId}/device/{deviceId}":{"post":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Save esu alert data","operationId":"setESUAlertUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"esuAlarms","description":"esuAlarms","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EsuAlarm"}}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert/project/{projectId}/device/{deviceId}/day/{day}":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get alert data by day","operationId":"getAlertDataByDayUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert/project/{projectId}/device/{deviceId}/lastone":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get latest esu alert data","operationId":"getESUAlertLastOneUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert/project/{projectId}/device/{deviceId}/start/{starttime}/end/{endtime}":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get alert data by time period","operationId":"getAlertDataByTimePeriodUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endtime","in":"path","description":"endtime","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"starttime","in":"path","description":"starttime","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert_sungrow/project/{projectId}/device/{deviceId}/day/{day}":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get Sungrow Fault Alarm Status detail data by day(yyyy-MM-dd)","operationId":"getSungrowFaultAlarmStatusByDayUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert_sungrow/project/{projectId}/device/{deviceId}/lastone":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get latest Sungrow Fault Alarm Status detail data","operationId":"getSungrowFaultAlarmStatusLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert_sungrow/project/{projectId}/device/{deviceId}/{startTimestamp}/{endTimestamp}":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get Sungrow Fault Alarm Status detail data by time period","operationId":"getSungrowFaultAlarmStatusByTimeperiodUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endTimestamp","in":"path","description":"endTimestamp","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTimestamp","in":"path","description":"startTimestamp","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert_tesla/project/{projectId}/device/{deviceId}/day/{day}":{"get":{"tags":["Alert Data","Tesla"],"summary":"Get Tesla Alerts Data By Day(yyyy-MM-dd)","operationId":"getTeslaAlertsByDayUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert_tesla/project/{projectId}/device/{deviceId}/lastone":{"get":{"tags":["Alert Data","Tesla"],"summary":"Get latest Tesla Alarm data","operationId":"getTeslaAlarmStatusLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/alert_tesla/project/{projectId}/device/{deviceId}/{startTimestamp}/{endTimestamp}":{"get":{"tags":["Alert Data","Tesla"],"summary":"Get Tesla Alerts Data By start and end timestamp","operationId":"getTeslaAlertsByTimePeriodUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endTimestamp","in":"path","description":"endTimestamp","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTimestamp","in":"path","description":"startTimestamp","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/all_status_data/project/{projectId}/device/{deviceId}":{"post":{"tags":["All Status Data","__ALL ESS APIs"],"summary":"Save All Status Data","operationId":"setAllStatusDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AllStatusData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/auto-accept/project/{projectId}":{"get":{"tags":["Automation Controls"],"summary":"Get auto-accept flag for the project","operationId":"getAutoAcceptStatusUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false},"post":{"tags":["Automation Controls"],"summary":"Set auto-accept flag for the project","operationId":"saveAutoAcceptStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"accept","description":"accept","required":true,"schema":{"$ref":"#/definitions/AutoAcceptStatus"}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/automation/project/{projectId}":{"get":{"tags":["Automation Controls"],"summary":"Get automation flag for the project","operationId":"getDispatchStatusUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false},"post":{"tags":["Automation Controls"],"summary":"Set automation flag for the project","operationId":"saveDispatchStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"accept","description":"accept","required":true,"schema":{"$ref":"#/definitions/AutomationStatus"}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/load1hour/constraintload/project/{projectId}/device/{deviceId}/{date}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get 1hour Constraint meter Load Data","operationId":"getCache1HourConstraintMeterUsingGET","produces":["*/*"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/load1minute/constraintload/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get 1Minute Constraint meter Load Data","operationId":"getCache1MinuteConstraintMeterUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/load5minute/constraintload/project/{projectId}/device/{deviceId}/{date}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get 5Minute Constraint meter Load Data","operationId":"getCache5MinuteConstraintMeterUsingGET","produces":["*/*"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/load5minute/constraintload/project/{projectId}/device/{deviceId}/{starttime}/{endtime}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get 5Minute Constraint meter Load Data","operationId":"getCache5MinuteConstraintMeterUsingGET_1","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endtime","in":"path","description":"endtime","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"starttime","in":"path","description":"starttime","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/load_data/project/{projectId}/device/{deviceId}/{type}":{"post":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Save cache Load Data","operationId":"setLoadDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datas","description":"datas","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LoadData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"type","in":"path","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/total_load_data/1hour/project/{projectId}/{date}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get Total Load 1hour Data","operationId":"getCache1HourTotalLoadUsingGET","produces":["*/*"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/total_load_data/1minute/project/{projectId}/last":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get Total Load 1minute Data","operationId":"getCache1MinuteTotalLoadUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/total_load_data/5minute/project/{projectId}/{date}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get Total Load 5minute Data","operationId":"getCache5MinuteTotalLoadUsingGET","produces":["*/*"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/cache/total_load_data/5minute/project/{projectId}/{starttime}/{endtime}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get Total Load 5minute Data","operationId":"getCache5MinuteTotalLoadUsingGET_1","produces":["*/*"],"parameters":[{"name":"endtime","in":"path","description":"endtime","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"starttime","in":"path","description":"starttime","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/charger_instant_command/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["Charger Instant Command","__ALL ESS APIs"],"summary":"Get Charger Instant Command latest one","operationId":"getChargerInstantCommandLatestOneUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/charger_instant_command/project/{projectId}device/{deviceId}":{"post":{"tags":["Charger Instant Command","__ALL ESS APIs"],"summary":"Save Charger Instant Command","operationId":"saveChargerInstantCommandUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"$ref":"#/definitions/ChargerInstantCommandData"}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/charger_status/project/{projectId}/device/{deviceId}":{"post":{"tags":["Charger Status","__ALL ESS APIs"],"summary":"Save Charger Status","operationId":"saveChargerStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ChargerStatus"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/charger_status/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["Charger Status","__ALL ESS APIs"],"summary":"Get Charger Status latest one","operationId":"getChargerStatusLatestOneUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/charger_status/project/{projectId}/device/{deviceId}/{startTime}/{endTime}":{"get":{"tags":["Charger Status","__ALL ESS APIs"],"summary":"Get Charger Status","operationId":"getChargerStatusUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endTime","in":"path","description":"endTime","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTime","in":"path","description":"startTime","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/direct_and_basic_mode/project/{projectId}/device/{deviceId}":{"post":{"tags":["RTAC Status","__ALL ESS APIs"],"summary":"Save Driect/Basic Mode Data","operationId":"setDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"$ref":"#/definitions/DriectAndBasicModeData"}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/direct_and_basic_mode/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["RTAC Status","__ALL ESS APIs"],"summary":"Get Driect/Basic Mode Latest","operationId":"getLatestDataUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/dispatch/project/{projectId}/future":{"get":{"tags":["Automation Controls","IESO Dispatch Data"],"summary":"Get all future dispatches","operationId":"getDispatchStatusUsingGET_1","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/dispatch/project/{projectId}/{start}/{end}":{"get":{"tags":["Automation Controls","IESO Dispatch Data"],"summary":"Get dispatches ending in target time range","operationId":"getAutoAcceptStatusUsingGET_1","produces":["*/*"],"parameters":[{"name":"end","in":"path","description":"end","required":true,"type":"string","format":"date-time"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/project/{projectId}/NCPWithESS/month/{month}":{"get":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Get NCP with ESS By Month(yyyy-MM)","operationId":"getNCPWithESSUsingGET","produces":["*/*"],"parameters":[{"name":"month","in":"path","description":"month","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/project/{projectId}/device/{deviceId}":{"get":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Get latest ESS Generic Data","operationId":"getEssGenericDataLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false},"post":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Save ESS Generic Data","operationId":"setEssGenericDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datas","description":"datas","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EssGenericData"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/project/{projectId}/device/{deviceId}/day/{day}":{"get":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Get ESS Generic Data by day(Format: yyyy-MM-dd)","operationId":"getEssGenericDataByDayUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/project/{projectId}/device/{deviceId}/day/{day}/5minutes":{"get":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Get ESS Generic Data Every 5 Minutes by day(Format: yyyy-MM-dd)","operationId":"getEssGenericDataByDay5MinutesUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/project/{projectId}/device/{deviceId}/time/{starttime}/{endtime}/5minutes":{"get":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Get ESS Generic Data Every 5 Minutes by day(Format: yyyy-MM-dd)","operationId":"getEssGenericDataByDay5MinutesUsingGET_1","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endtime","in":"path","description":"endtime","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"starttime","in":"path","description":"starttime","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/project/{projectId}/load_with_ess/day/{day}/5min":{"get":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Get Load with ESS(5Min) By Day(yyyy-MM-dd)","operationId":"getLoadWithESSByDay5MinUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/project/{projectId}/load_with_ess/day/{day}/hourly":{"get":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Get Load with ESS(Hourly) By Day(yyyy-MM-dd)","operationId":"getLoadWithESSByDayHourlyUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/status/project/{projectId}/device/{deviceId}":{"post":{"tags":["ESS Status Detail Data","__ALL ESS APIs"],"summary":"Save ESS Status Detail Data","operationId":"setEssGenericStatusDetailDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"$ref":"#/definitions/EnergyStorageSystem"}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/status/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["ESS Status Detail Data","__ALL ESS APIs"],"summary":"Get ESS Status Detail Latest Data","operationId":"EssGenericStatusDetailLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/status/project/{projectId}/device/{deviceId}/{startTimestamp}/{endTimestamp}":{"get":{"tags":["ESS Status Detail Data","__ALL ESS APIs"],"summary":"Get ESS Status Detail Data By start and end timestamp","operationId":"EssGenericStatusDetailDataUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endTimestamp","in":"path","description":"endTimestamp","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTimestamp","in":"path","description":"startTimestamp","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/status_5min/project/{projectId}/device/{deviceId}/day/{day}":{"get":{"tags":["ESS Status Detail Data","__ALL ESS APIs"],"summary":"Get ESS Status Detail Summary(5Minutes) Data By Day(yyyy-MM-dd)","operationId":"EssGenericStatusDetailSumDataByDayUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data/status_5min/project/{projectId}/device/{deviceId}/{startTimestamp}/{endTimestamp}":{"get":{"tags":["ESS Status Detail Data","__ALL ESS APIs"],"summary":"Get ESS Status Detail Summary(5Minutes) Data By start and end timestamp","operationId":"EssGenericStatusDetailSumDataUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"endTimestamp","in":"path","description":"endTimestamp","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTimestamp","in":"path","description":"startTimestamp","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data_alert_others/project/{projectId}/device/{deviceId}":{"post":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Save ESS Generic Data with other info","operationId":"setEssGenericDataAlertOthersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EssGenericDataAlertOther"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data_sungrow/project/{projectId}/device/{deviceId}":{"post":{"tags":["ESS Generic Data","__ALL ESS APIs"],"summary":"Save ESS Generic Data for Sungrow","operationId":"setEssGenericDataSungrowUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datas","description":"datas","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EssGenericDataSungrow"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_generic_data_tesla/project/{projectId}/device/{deviceId}":{"post":{"tags":["ESS Generic Data","Tesla"],"summary":"Save ESS Generic Data for Tesla","operationId":"setEssGenericDataAlertTeslaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EssGenericAlarmTesla"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_status_data/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["ESS Status Data","__ALL ESS APIs"],"summary":"Get Current ESS Status Data By Latest ","operationId":"getEssStatusDataLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/ess_status_data/project/{projectId}/device/{deviceId}/{start}/{end}":{"get":{"tags":["ESS Status Data","__ALL ESS APIs"],"summary":"Get Current ESS Status Data By start and end ","operationId":"getEssStatusDataByStartAndEndUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"end","in":"path","description":"end","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/export/ess_data/project/{projectId}/{interval}/{startTime}/{endTime}":{"get":{"tags":["Export ESS Data","__ALL ESS APIs"],"summary":"Get ESS Data","operationId":"searchEssDataUsingGET","produces":["*/*"],"parameters":[{"name":"endTime","in":"path","description":"endTime","required":true,"type":"string"},{"name":"interval","in":"path","description":"interval","required":true,"type":"integer","format":"int32"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"startTime","in":"path","description":"startTime","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/generic_alert/project/{projectId}/device/{deviceId}/day/{daily}":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get generic alert data by daily","operationId":"getGenericAlertByDailyUsingGET","produces":["*/*"],"parameters":[{"name":"daily","in":"path","description":"daily","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/generic_alert/project/{projectId}/device/{deviceId}/lastone":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get latest generic alert data","operationId":"getGenericAlertLastOneUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/generic_alert/project/{projectId}/device/{deviceId}/start/{start}/end/{end}":{"get":{"tags":["Alert Data","__ALL ESS APIs"],"summary":"Get generic alert data by start and end time","operationId":"getGenericAlertByStartAndEndUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"end","in":"path","description":"end","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/inverter_output_compare_rtac_command/project/{projectId}":{"post":{"tags":["Alert notification","__ALL ESS APIs"],"summary":"Save Inverter Output Compare Rtac Command ","operationId":"saveDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InverterOutputCompareRtacCommand"}}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/inverter_output_compare_rtac_command/project/{projectId}/latest":{"get":{"tags":["Alert notification","__ALL ESS APIs"],"summary":"Get Inverter Output Compare Rtac Command","operationId":"getLatestUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get Latest Inverter Command","operationId":"getInverterCommandLastDataUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false},"post":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Save Inverter Command list","operationId":"saveInverterCommandDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InverterCommand"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/instant":{"post":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Save Inverter Instant Command ","operationId":"saveInverterInstantCommandUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"inverterInstantCommandData","description":"inverterInstantCommandData","required":true,"schema":{"$ref":"#/definitions/InverterInstantCommandData"}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/instant/latest":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get latest Inverter Instant Command","operationId":"getInverterInstantCommandLatestUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/next24h":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get next 24 hours Inverter Command","operationId":"getInverterCommandNext24HUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/next24h/virtual_battery":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get next 24 hours Inverter Command(virtual battery)","operationId":"getInverterCommandNext24HVBUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/optimizer":{"post":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"For Optimizer use only","operationId":"saveInverterCommandDataFromOptimizerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InverterCommand"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/time/{time}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get Inverter Command by time","operationId":"getInverterCommandByTimeUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"time","in":"path","description":"time","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/time/{time}/virtual_battery":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get Inverter Command(virtual battery) by time","operationId":"getInverterCommandByTimeVBUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"time","in":"path","description":"time","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand/project/{projectId}/device/{deviceId}/virtual_battery":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get Latest Inverter Command(virtual battery)","operationId":"getInverterCommandLastDataVBUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false},"post":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Save Inverter Command list for virtual battery","operationId":"saveInverterCommandDataVBUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dataList","description":"dataList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InverterCommand"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_future_operation/project/{projectId}":{"post":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Save Project Level Inverter Command for future operation","operationId":"saveInverterCommandFutureUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"inverterCommandFuture","description":"inverterCommandFuture","required":true,"schema":{"$ref":"#/definitions/ProjectCommandInstruction"}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_future_operation/project/{projectId}/device/{deviceId}":{"post":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Save Inverter Command for future operation","operationId":"saveInverterCommandFutureUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"inverterCommandFuture","description":"inverterCommandFuture","required":true,"schema":{"$ref":"#/definitions/InverterCommandInstruction"}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_future_operation/project/{projectId}/device/{deviceId}/delete/{start}/{end}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Delete Inverter Command Future by start and end timestamp ","operationId":"deleteInverterCommandFutureUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"end","in":"path","description":"end","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_future_operation/project/{projectId}/device/{deviceId}/future_all":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Get All Inverter Future Command","operationId":"getInverterInstantCommandFutureAllUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/device/{deviceId}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Search Inverter Command List by current timestamp ","operationId":"searchInverterCommandListByCurrentTimeUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/device/{deviceId}/day/{day}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Search Inverter Command List by Day(in specified timezone)","operationId":"searchInverterCommandListByTimePeriodUsingGET","produces":["*/*"],"parameters":[{"name":"day","in":"path","description":"day","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/device/{deviceId}/disable/{id}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Disable Inverter Command by Id","operationId":"disableInverterCommandListByIdUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/device/{deviceId}/{start}/{end}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Search Inverter Command List by start and end timestamp ","operationId":"searchInverterCommandListByTimePeriodUsingGET_1","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"end","in":"path","description":"end","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/device/{deviceId}/{start}/{end}/disable":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Search Inverter Command List of Disable by start and end timestamp ","operationId":"searchInverterCommandListByTimePeriodOfDisableUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"end","in":"path","description":"end","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/disable/{id}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Disable Project Command by Id","operationId":"disableProjectCommandListByIdUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/future":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Search Inverter Command List of Disable by start and end timestamp ","operationId":"searchProjectCommandListFutureUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/{start}/{end}":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Search Inverter Command List by start and end timestamp ","operationId":"searchProjectCommandListByTimePeriodUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"path","description":"end","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_list/project/{projectId}/{start}/{end}/disable":{"get":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Search Inverter Command List of Disable by start and end timestamp ","operationId":"searchProjectCommandListByTimePeriodOfDisableUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"path","description":"end","required":true,"type":"integer","format":"int64"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"start","in":"path","description":"start","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_peakshaving/project/{projectId}/device/{deviceId}":{"post":{"tags":["Inverter Command","__ALL ESS APIs"],"summary":"Save Inverter Command for peak shaving","operationId":"saveInverterCommandPeakShavingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"inverterCommandPeakShaving","description":"inverterCommandPeakShaving","required":true,"schema":{"$ref":"#/definitions/InverterCommandPeakShaving"}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_source/project/{projectId}/device/{deviceId}":{"get":{"tags":["Inverter Command Source","__ALL ESS APIs"],"summary":"Get current Inverter Command source: Return is_from_optimizer=1(Optimizer) or is_from_optimizer=0(Operation Portal)","operationId":"getInverterCommandSourceUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/invertercommand_source/project/{projectId}/device/{deviceId}/is_optimizer_mode/{isOptimizerMode}":{"post":{"tags":["Inverter Command Source","__ALL ESS APIs"],"summary":"Set Inverter Command source: true(Optimizer) or false(Operation Portal)","operationId":"saveInverterCommandSourceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"isOptimizerMode","in":"path","description":"isOptimizerMode","required":true,"type":"boolean"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/load1hour/constraintload/project/{projectId}/device/{deviceId}/{date}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get 1hour Constraint meter Load Data","operationId":"get1HourConstraintMeterUsingGET","produces":["*/*"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/load1minute/constraintload/project/{projectId}/device/{deviceId}/latest":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get 1Minute Constraint meter Load Data","operationId":"get1MinuteConstraintMeterUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/load5minute/constraintload/project/{projectId}/device/{deviceId}/{date}":{"get":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Get 5Minute Constraint meter Load Data","operationId":"get5MinuteConstraintMeterUsingGET","produces":["*/*"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/load_data/project/{projectId}/{type}":{"post":{"tags":["Load Data","__ALL ESS APIs"],"summary":"Save Load Data","operationId":"setLoadDataUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datas","description":"datas","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LoadData"}}},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"},{"name":"type","in":"path","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/loadforecast/project/{projectId}/device/{deviceId}/period/{periodId}":{"get":{"tags":["Load Forecast","__ALL ESS APIs"],"summary":"Get load forecast data","operationId":"getLoadForecastByPeriodCreatorUsingGET","produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"periodId","in":"path","description":"periodId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false},"post":{"tags":["Load Forecast","__ALL ESS APIs"],"summary":"Save load forecast data","operationId":"saveLoadForecastUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/LoadForecast"}}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"periodId","in":"path","description":"periodId","required":true,"type":"string"},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":[]}],"deprecated":false}},"/api/opg_cgc_rtac_mode/project/{projectId}":{"post":{"tags":["RTAC Status"],"summary":"Save OPG CGC RTAC Mode Status","o
[...]
